<footer class="footer">
  <small>
    <%= link_to "Relativity", '#' %> created by Patrick Monaghan
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Index", '#' %></li>
      <li>&copy; <%= link_to "2016", '#' %></li>
    </ul>
  </nav>
</footer>
