<header class="navbar-default navbar-fixed-top navbar-inverse">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href= "/">Relativity</a>
        </div>
        <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
            <% id_num = current_user.id %>
            <li><%= link_to "Profile", user_path%></li><!--#user_path(current_user.id)-->
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
</header>
